//Overriding bootstrap
$body-font-family: 'Space Mono', monospace;
$body-bg: #000000;
$headings-font-family: 'Silkscreen', sans-serif;
$primary: #33ff33;
$header-color: #ff33ff;
$link-color: #ff33ff;

//import bootstrap and ensure my overrides win
@use "../../node_modules/bootstrap/scss/bootstrap.scss" with (
    $body-bg: $body-bg,
    $headings-font-family: $headings-font-family,
    $primary: $primary,
    $link-color: $link-color
);

//Import my fonts
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: $body-font-family;
    color: $primary;
    padding: 45px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
    color: $header-color;
}

p {
    padding-right: 75px;
}

a {
    color: $link-color;
}

a:hover {
    color: $primary;
}

.bottom-image {
    display: block;
    margin: auto;
    justify-content: center;
    bottom: 20px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.page-content {
    padding-bottom: 150px;
}